configuration {
  font: "JetBrainsMono Nerd Font Medium 09";
}

inputbar {
  padding: 5;
}

entry {
  padding: 5;
}

prompt {
  padding: 5;
}

listview {
	lines: 3;
  columns: 2;
}

element {
  padding: 5 0;
}

window {
  width: 15%;
}
